<html>
<head>
<meta charset="utf-8">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
   <script src="https://cdn.jsdelivr.net/jquery.ui.timepicker.addon/1.4.5/jquery-ui-timepicker-addon.js"></script>
  <script src="https://cdn.jsdelivr.net/jquery.ui.timepicker.addon/1.4.5/jquery-ui-sliderAccess.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.ui.timepicker.addon/1.4.5/jquery-ui-timepicker-addon.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <style>
    .map_canvas {
        width: 600px;
        height: 400px;
        border: 1px solid #FF0000;
        margin: 10px 20px 10px 0;
    }
  </style>
  <script src="//maps.googleapis.com/maps/api/js?sensor=false&libraries=places"></script>
  <!-- Geocomplete plugin -->
  <script src="//cdn.jsdelivr.net/jquery.geocomplete/1.6.4/jquery.geocomplete.min.js"></script>
  <script>
      $('body').off("focus");
      $('body').on('focus',".geocomplete",function(){
        var options = {
          map: ".map_canvas"
        };
        $(this).geocomplete(options);
        });
    </script>
  <script>
  $('body').on('focus',".datepicker",function(){
    $(this).datetimepicker();
   }); 
  </script>
</head>
<body>
<%= form_for(@hitcher) do |f| %>
  <% if @hitcher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hitcher.errors.count, "error") %> prohibited this hitcher from being saved:</h2>

      <ul>
      <% @hitcher.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :departure %><br>
    <%= f.text_field :departure, :class => "geocomplete", :placeholder => "Type in an address" %>
  </div>
  <div class="field">
    <%= f.label :destination %><br>
    <%= f.text_field :destination, :class => "geocomplete", :placeholder => "Type in an address" %>
  </div>
  <div class="map_canvas"></div>
  <div class="field">
    <%= f.label :depart_time %><br>
    <%= f.text_field :depart_time, :class =>"datepicker" %>
  </div>
  <div class="field">
    <%= f.label :arrival_time %><br>
    <%= f.text_field :arrival_time, :class =>"datepicker" %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, rows:6 %>
  </div>
  <div class="field">
    <%= f.label :num %><br>
    <%= f.text_field :num %>
  </div>
  <div class="field">
    <%= f.label :contact_info %><br>
    <%= f.text_field :contact_info %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</body>
</html> 
