<html>
<% provide(:title, "Hitchers") %>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="https://cdn.jsdelivr.net/jquery.ui.timepicker.addon/1.4.5/jquery-ui-timepicker-addon.js"></script>
  <script src="https://cdn.jsdelivr.net/jquery.ui.timepicker.addon/1.4.5/jquery-ui-sliderAccess.js"></script>

  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.ui.timepicker.addon/1.4.5/jquery-ui-timepicker-addon.css">
  <link rel="stylesheet" href="/resources/demos/style.css">

 <script src="//maps.googleapis.com/maps/api/js?sensor=false&libraries=places"></script>
  <!-- Geocomplete plugin -->
  <script src="//cdn.jsdelivr.net/jquery.geocomplete/1.6.4/jquery.geocomplete.min.js"></script>
  <script>
      $('body').off("focus");
      $('body').on('focus',".geocomplete",function(){
        $(this).geocomplete();
        });
    </script>

</head>


<% if notice %>
  <p class="notice"><%= notice %></p>
<% end %>
<body>
<h1>Listing Hitcher Posts</h1>

<%= form_for @search, :url => "/hitchers/index" do |f|%>
 <div class="row">
  <div class="col-lg-1">
    <%= f.label :departure %><class="form-control" placeholder=".col-lg-1">
  </div>
  <div class="col-lg-3">
    <%= f.text_field :departure, :class => "geocomplete", :placeholder => "Type in an address" %><class="form-control" placeholder=".col-lg-3">
  </div>
  <div class="col-lg-1">
    <%= f.label :destination %><class="form-control" placeholder=".col-lg-1">
  </div>
  <div class="col-lg-3">
    <%= f.text_field :destination, :class => "geocomplete", :placeholder => "Type in an address" %><class="form-control" placeholder=".col-lg-3">
  </div>
  <div class="col-lg-1">
    <%= f.submit :Search%><class="form-control" placeholder=".col-lg-1">
  </div>
 </div>
<% end %>

<table>
<% @hitchers.each do |hitcher| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td class="list_description">
      <dl>
        <dt>Departure: <%= hitcher.departure %></dt>
        <dt>Destination: <%= hitcher.destination %></dt>
        <dt>Depart_time: <%= hitcher.depart_time %></dt>
        <dt>hitcher numbers: <%= hitcher.num %></dt>
      </dl>
    </td>
    <td class = "list_action">
      <%= link_to 'Show Details', hitcher %><br/>
      <br/>
      <div class = "user_input">
      <dt><%= button_to 'Accept this hitcher', takes_path(hitcher_id: hitcher) %></dt>
      <dt><%= button_to 'like', hitcher_likes_path(hitcher_id: hitcher) %></dt>
      <dt><%= hitcher.like_num  %></dt>
      </div>
    </td>
  </tr>
<% end %>
</table>
</body>
</html>
