<% provide(:title, "Hitchers") %>
<p class='notice'><% if notice %>
<%=  notice %>
<% end %></p>
<h1>Listing Hitchers</h1>

<%= form_for @search, :url => "/hitchers/index" do |f|%>
    <%= f.label :departure%>
    <%= f.text_field :departure%>
    <%= f.label :destination%>
    <%= f.text_field :destination%>
    <%= f.submit%>
<% end %>

<table>
<% @hitchers.each do |hitcher| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td class="list_description">
      <dl>
        <dt>Departure: <%= hitcher.departure %></dt>
        <dt>Destination: <%= hitcher.destination %></dt>
        <dt>Depart_time: <%= hitcher.depart_time %></dt>
        <dt><%= button_to 'Accept this hitcher', takes_path(hitcher_id: hitcher) %></dt>
<!--        <dt>arrival_time: <%= hitcher.arrival_time %></dt>
        <dt>num: <%= hitcher.num %></dt>
        <dt>Contact_info: <%= hitcher.contact_info %></dt>
        <dt>Description: <%= truncate(strip_tags(hitcher.description), length: 80) %></dt>
-->
      </dl>
    </td>
    <td>
      <%= link_to 'Show', hitcher %><br/>
      <%= link_to 'Edit', edit_hitcher_path(hitcher) %><br/>
      <%= link_to 'Destroy', hitcher, method: :delete,
                  data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
</table>
<br />
<%= link_to 'New hitcher', new_hitcher_path %>
