<% provide(:title, "Hitcher") %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Departure:</strong>
  <%= @hitcher.departure %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @hitcher.destination %>
</p>

<p>
  <strong>Depart time:</strong>
  <%= @hitcher.depart_time %>
</p>

<p>
  <strong>Arrival time</strong>
  <%= @hitcher.arrival_time %>
</p>

<p>
  <strong>Passenger num:</strong>
  <%= @hitcher.num %>
</p>

<p>
  <strong>Contact info:</strong>
  <%= @hitcher.contact_info %>
</p>

<p>
  <strong>Description:</strong>
  <%= @hitcher.description %>
</p>

<h2>Comments</h2>
<% @hitcher.hitchercomments.each do |hitchercomment| %>
  <p>
    <strong>Commenter:</strong>
    <%= hitchercomment.commenter %>
  </p>
 
  <p>
    <strong>Comment:</strong>
    <%= hitchercomment.body %>
  </p>
<% end %>

<h2>Add a comment:</h2>
<%= form_for([@hitcher, @hitcher.hitchercomments.build]) do |f| %>
  <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>



<%= link_to 'Edit', edit_hitcher_path(@hitcher) %> |
<%= link_to 'Back', current_user %>
