<!DOCTYPE html>
<html>
<head>
<% provide(:title, "Hitcher") %>
<p id="notice"><%= notice %></p>
<script src="http://maps.google.com/maps/api/js?sensor=false&libraries=geometry&v=3.7">
</script>
<script src="http://code.jquery.com/jquery-1.9.0.min.js"></script>
<script src="http://maplacejs.com/src/maplace-0.1.3.js"></script>
<script>
function clickHandler() {
    $('#hide').toggle();
    $('#show').toggle();
    $('#gmap-route').toggle('slow');
}
    
$(document).ready(function(){
    $('#show').hide();
    $('#hide, #show').on('click', clickHandler);
});
</script>
<script type="text/javascript">
$(document).ready(function(){
    $("#l1").click(function(){
        var geocoder = new google.maps.Geocoder();
            var address = "<%= @hitcher.departure %>";
            var address1 = "<%= @hitcher.destination %>";
            geocoder.geocode({ 'address': address }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    var latitude = results[0].geometry.location.lat();
                    document.getElementById('lat').value = latitude;
                    var longitude = results[0].geometry.location.lng();
                    document.getElementById('lng').value = longitude;
                }else{
                    alert("Geocode was not successful for the following reason: " + status);
                }
            });


            geocoder.geocode({ 'address': address1 }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    var latitude = results[0].geometry.location.lat();
                    document.getElementById('lat1').value = latitude;
                    var longitude = results[0].geometry.location.lng();
                    document.getElementById('lng1').value = longitude;
                }else{
                    alert("Geocode was not successful for the following reason: " + status);
                }
            });
});
    $("#getdir").click(function(){
var lat = $("#lat").val();
var lng = $("#lng").val();
var lat1 = $("#lat1").val();
var lng1 = $("#lng1").val();
var LocsD = [
    {
        lat: lat,
        lon: lng,
        title: 'Aaron',
        html: 'Aaron'
    },
    {
        lat: lat1,
        lon: lng1,
        title: 'Aaron',
        html: 'Aaron'
    }
];
$(function(){
            new Maplace({
                locations: LocsD,
                map_div: '#gmap-route',
                generate_controls: false,
                show_markers: false,
                type: 'directions',
                draggable: true,
                directions_panel: '#route',
                afterRoute: function(distance) {
                    $('#km').text(': '+(distance/1000)+'km');
                }
            }).Load();
        });
    });
});
</script>
</head>
<body>

<h1>Hitcher Trip Information</h1>

<p>
  <strong>Departure:</strong>
  <%= @hitcher.departure %>
</p>
<div>
Latitude <input type="text" id="lat" value="">
Longitude<input type="text" id="lng" value="">
</div>

<p>
  <strong>Destination:</strong>
  <%= @hitcher.destination %>
</p>
<div>
Latitude: <input type="text" id="lat1" value="">
Longitude: <input type="text" id="lng1" value="">
</div>
<button id="l1">Get Latitude and Longitude</button>
<button id="getdir">Get Direction</button>
<div>
    <button id="show">Show Direction</button>
    <button id="hide">Hide Direction</button>
</div>
<div id="gmap-route" style="width: 600px; height: 400px"></div>
<p>
  <strong>Depart time:</strong>
  <%= @hitcher.depart_time %>
</p>

<p>
  <strong>Arrival time</strong>
  <%= @hitcher.arrival_time %>
</p>

<p>
  <strong>Passenger num:</strong>
  <%= @hitcher.num %>
</p>

<p>
  <strong>Contact info:</strong>
  <%= @hitcher.contact_info %>
</p>

<p>
  <strong>Description:</strong>
  <%= @hitcher.description %>
</p>

<h2>Comments</h2>
<% @hitcher.hitchercomments.each do |hitchercomment| %>
  <p>
    <strong>Commenter:</strong>
    <%= hitchercomment.commenter %>
  </p>
 
  <p>
    <strong>Comment:</strong>
    <%= hitchercomment.body %>
  </p>
<% end %>

<h2>Add a comment:</h2>
<%= form_for([@hitcher, @hitcher.hitchercomments.build]) do |f| %>
  <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
</body>
</html>

