<% if notice %>
  <p class="notice"><%= notice %></p>
<% end %>
<h1>Listing Users With Most Popular Drivers</h1>

	<table>
	<% @users.each do |user| %>
	  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
	    <td class="list_description">
	      <dl>
		<dt>User: <%= user.name %>, post_like_num: <%= user.like_num %> </dt>
	      </dl>

	    </td>
	 </tr>
	<% end %>
	</table>
    <%= will_paginate @users %>
