<% provide(:title, "User Info") %>
<%= link_to 'Drivers', drivers_path %>
<%= link_to 'Hitchers', hitchers_path %>
<%= link_to 'New driver', new_driver_path %>
<%= link_to 'New hitcher', new_hitcher_path %>
<h1>Listing Your Drivers</h1>

<table>
<% @drivers.each do |driver| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td class="list_description">
      <dl>
        <dt>Departure: <%= driver.departure %></dt>
        <dt>Destination: <%= driver.destination %></dt>
        <dt>Price: <%= driver.price %></dt>
        <dt>Depart_time: <%= driver.depart_time %></dt>
<!--        <dt>Estimated_arrival_time: <%= driver.estimated_arrival_time %></dt>
        <dt>Car_type: <%= driver.car_type %></dt>
        <dt>Passenger_num: <%= driver.passenger_num %></dt>
        <dt>Contact_info: <%= driver.contact_info %></dt>
        <dt>Description: <%= truncate(strip_tags(driver.description), length: 80) %></dt>-->
      </dl>
    </td>
    <td class = "list_action">
      <%= link_to 'Show', driver %><br/>
      <%= link_to 'Edit', edit_driver_path(driver) %><br/>
      <%= link_to 'Destroy', driver, method: :delete,
                  data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
</table>
<br />

<h1>Listing Your Hitchers</h1>

<table>
<% @hitchers.each do |hitcher| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td class="list_description">
      <dl>
        <dt>Departure: <%= hitcher.departure %></dt>
        <dt>Destination: <%= hitcher.destination %></dt>
        <dt>Depart_time: <%= hitcher.depart_time %></dt>
<!--        <dt>arrival_time: <%= hitcher.arrival_time %></dt>
        <dt>num: <%= hitcher.num %></dt>
        <dt>Contact_info: <%= hitcher.contact_info %></dt>
        <dt>Description: <%= truncate(strip_tags(hitcher.description), length: 80) %></dt>
-->
      </dl>
    </td>
    <td>
      <%= link_to 'Show', hitcher %><br/>
      <%= link_to 'Edit', edit_hitcher_path(hitcher) %><br/>
      <%= link_to 'Destroy', hitcher, method: :delete,
                  data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
</table>
<h1>Listing Your Rides</h1>
<ul>
   <% @user.rides.each do |ride| %>
	<li><%= ride.quantity %> &times;<%= ride.driver.destination %></li>
   <% end %>
</ul>

<h1>Listing Your Rides 2</h1>

<table>
<% @user.rides.each do |ride| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td class="list_description">
      <dl>
        <dt>Departure: <%= ride.driver.departure %></dt>
        <dt>Destination: <%= ride.driver.destination %></dt>
        <dt>Price: <%= ride.driver.price %></dt>
        <dt>Depart_time: <%= ride.driver.depart_time %></dt>
        <dt>Num: <%= ride.quantity %></dt>
      </dl>
    </td>
    <td class = "list_action">
        <%= link_to 'Show', ride.driver %><br/>
        <%= link_to 'Destroy', ride, method: :delete,
                  data: { confirm: 'Are you sure?' } %>
     </td>
  </tr>
<% end %>
</table>
