<% if notice %>
<%= notice %>
<% end %>

<% provide(:title, "User Info") %>
<h1>Listing Your Drivers</h1>

<table>
<% @drivers.each do |driver| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td class="list_description">
      <dl>
        <dt>Departure: <%= driver.departure %></dt>
        <dt>Destination: <%= driver.destination %></dt>
        <dt>Price: <%= driver.price %></dt>
        <dt>Depart_time: <%= driver.depart_time %></dt>
      </dl>
    </td>
    <td class = "list_action">
      <%= link_to 'Show', driver %><br/>
      <%= link_to 'Edit', edit_driver_path(driver) %><br/>
      <%= link_to 'Destroy', driver, method: :delete,
                  data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
</table>

<h1>Listing Your Hitchers</h1>

<table>
<% @hitchers.each do |hitcher| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td class="list_description">
      <dl>
        <dt>Departure: <%= hitcher.departure %></dt>
        <dt>Destination: <%= hitcher.destination %></dt>
        <dt>Depart_time: <%= hitcher.depart_time %></dt>
<!--        <dt>arrival_time: <%= hitcher.arrival_time %></dt>
        <dt>num: <%= hitcher.num %></dt>
        <dt>Contact_info: <%= hitcher.contact_info %></dt>
        <dt>Description: <%= truncate(strip_tags(hitcher.description), length: 80) %></dt>
-->
      </dl>
    </td>
    <td>
      <%= link_to 'Show', hitcher %><br/>
      <%= link_to 'Edit', edit_hitcher_path(hitcher) %><br/>
      <%= link_to 'Destroy', hitcher, method: :delete,
                  data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
</table>

<h1>Listing Your Rides</h1>

<table>
<% @user.rides.each do |ride| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td class="list_description">
      <dl>
        <dt>Departure: <%= ride.driver.departure %></dt>
        <dt>Destination: <%= ride.driver.destination %></dt>
        <dt>Price: <%= ride.driver.price %></dt>
        <dt>Depart_time: <%= ride.driver.depart_time %></dt>
        <dt>Num: <%= ride.quantity %></dt>
      </dl>
    </td>
    <td class = "list_action">
        <%= link_to 'Show', ride.driver %><br/>
      <%= link_to 'Edit', edit_ride_path(ride) %><br/>
        <%= link_to 'Destroy', ride, method: :delete,
                  data: { confirm: 'Are you sure?' } %>
     </td>
  </tr>
<% end %>
</table>
<h1>Listing Your Takes</h1>

<table>
<% @user.takes.each do |take| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td class="list_description">
      <dl>
        <dt>Departure: <%= take.hitcher.departure %></dt>
        <dt>Destination: <%= take.hitcher.destination %></dt>
        <dt>Depart_time: <%= take.hitcher.depart_time %></dt>
        <dt>Num: <%= take.quantity %></dt>
      </dl>
    </td>
    <td class = "list_action">
        <%= link_to 'Show', take.hitcher %><br/>
        <%= link_to 'Destroy', take, method: :delete,
                  data: { confirm: 'Are you sure?' } %>
     </td>
  </tr>
<% end %>
