<nav class="navbar navbar-default <%= controller.controller_name %>">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">GODA</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/drivers">Drivers</a></li>
        <li><a href="/hitchers">Hitchers</a></li>
        <% if logged_in? %>        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">New Post<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/drivers/new">New Driver Post</a></li>
            <li><a href="/hitchers/new">New Hitcher Post</a></li>
          </ul>
        </li>
      <% end %>
      </ul>
<!--      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
-->    
    <div class="navbar-right">

      <% if logged_in? %>
        Logged in as <strong><%= link_to current_user.name, current_user %></strong>.
        <%= link_to "Logout", logout_path, method: :delete, class: "btn btn-lg btn-primary"  %>
      <% else %>
        <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary"  %> |
        <%= link_to "Login", login_path, class: "btn btn-lg btn-primary"  %>
      <% end %>
    </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
