<p id="notice"><%= notice %></p>

<h1>Listing Takes</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Hitcher</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @takes.each do |take| %>
      <tr>
        <td><%= take.user_id %></td>
        <td><%= take.hitcher_id %></td>
        <td><%= link_to 'Show', take %></td>
        <td><%= link_to 'Edit', edit_take_path(take) %></td>
        <td><%= link_to 'Destroy', take, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Take', new_take_path %>
