<% provide(:title, "Drivers") %>

<% if notice %>
  <p class="notice"><%= notice %></p>
<% end %>

<h1>Listing Driver Posts</h1>

<table>
<% @drivers.each do |driver| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td class="list_description">
      <dl>
    	<dt>User: <%= driver.user.name %></dt>
        <dt>Departure: <%= driver.departure %></dt>
        <dt>Destination: <%= driver.destination %></dt>
        <dt>Price: <%= driver.price %></dt>
        <dt>Depart_time: <%= driver.depart_time %></dt>
	
        <dt>available/total space: <%= driver.left %>/<%= driver.passenger_num%></dt>
      </dl>

    </td>
    <td class = "list_action">
      <%= link_to 'Show Details', driver %><br/>
      <div class = "user_input">
        <%= form_tag rides_path(:driver_id => driver) do %>
        <%= text_field_tag :my_input %>
        <%= submit_tag "Book a Ride" %>
        <% end %>
      </div>
    </td>

  </tr>
<% end %>
</table>
