<% provide(:title, "Drivers") %>
<p class="notice"><% if notice %>
<%= notice %>
<% end %></p>
<h1>Listing Drivers</h1>

<table>
<% @drivers.each do |driver| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td class="list_description">
      <dl>
    	<dt>User: <%= driver.user.name %></dt>
        <dt>Departure: <%= driver.departure %></dt>
        <dt>Destination: <%= driver.destination %></dt>
        <dt>Price: <%= driver.price %></dt>
        <dt>Depart_time: <%= driver.depart_time %></dt>
	
        <dt>available/total space: <%= driver.left %>/<%= driver.passenger_num%></dt>

<div class = "user input">    
<%= form_tag rides_path(:driver_id => driver) do %>
    <%= text_field_tag :my_input %>
    <%= submit_tag "Book a Ride" %>
<% end %>
</div>

<!--	<dt><%= button_to 'Book a Ride', rides_path(driver_id: driver) %></dt>-->
      </dl>
    </td>
    <td class = "list_action">
      <%= link_to 'Show', driver %><br/>
      <%= link_to 'Edit', edit_driver_path(driver) %><br/>
      <%= link_to 'Destroy', driver, method: :delete,
                  data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
</table>
<br />
<%= link_to 'New driver', new_driver_path %>
