<!DOCTYPE html>
<html>
<head>
<% provide(:title, "Driver") %>
<p id="notice"><%= notice %></p>
<script src="http://maps.google.com/maps/api/js?sensor=false&libraries=geometry&v=3.7">
</script>
<script src="http://code.jquery.com/jquery-1.9.0.min.js"></script>
<script src="http://maplacejs.com/src/maplace-0.1.3.js"></script>
<script>
function clickHandler() {
    $('#hide').toggle();
    $('#show').toggle();
    $('#gmap-route').toggle('slow');
}
    
$(document).ready(function(){
    $('#show').hide();
    $('#hide, #show').on('click', clickHandler);
});
</script>
<script type="text/javascript">
$(document).ready(function(){
    $("#l1").click(function(){
        var geocoder = new google.maps.Geocoder();
            var address = "<%= @driver.departure %>";
            var address1 = "<%= @driver.destination %>";
            geocoder.geocode({ 'address': address }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    var latitude = results[0].geometry.location.lat();
                    document.getElementById('lat').value = latitude;
                    var longitude = results[0].geometry.location.lng();
                    document.getElementById('lng').value = longitude;
                }else{
                    alert("Geocode was not successful for the following reason: " + status);
                }
            });


            geocoder.geocode({ 'address': address1 }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    var latitude = results[0].geometry.location.lat();
                    document.getElementById('lat1').value = latitude;
                    var longitude = results[0].geometry.location.lng();
                    document.getElementById('lng1').value = longitude;
                }else{
                    alert("Geocode was not successful for the following reason: " + status);
                }
            });
});
    $("#getdir").click(function(){
var lat = $("#lat").val();
var lng = $("#lng").val();
var lat1 = $("#lat1").val();
var lng1 = $("#lng1").val();
var LocsD = [
    {
        lat: lat,
        lon: lng,
        title: 'Vera',
        html: 'Vera'
    },
    {
        lat: lat1,
        lon: lng1,
        title: 'Vera',
        html: 'Vera'
    }
];
$(function(){
            new Maplace({
                locations: LocsD,
                map_div: '#gmap-route',
                generate_controls: false,
                show_markers: false,
                type: 'directions',
                draggable: true,
                directions_panel: '#route',
                afterRoute: function(distance) {
                    $('#km').text(': '+(distance/1000)+'km');
                }
            }).Load();
        });
    });
});
</script>
</head>
<body>
<h1>Driver Trip Information</h1>

<p>
  <strong>User:</strong>
  <%= @driver.user.name %>
</p>

<p>
  <strong>Updated time:</strong>
  <%= @driver.user.updated_at %>
</p>

<p>
  <strong>Departure:</strong>
  <%= @driver.departure %>
</p>
<div>
Latitude <input type="text" id="lat" value="">
Longitude<input type="text" id="lng" value="">
</div>
<p>
  <strong>Destination:</strong>
  <%= @driver.destination %>
</p>
<div>
Latitude: <input type="text" id="lat1" value="">
Longitude: <input type="text" id="lng1" value="">
</div>
<button id="l1">Get Latitude and Longitude</button>
<button id="getdir">Get Direction</button>
<div>
    <button id="show">Show Direction</button>
    <button id="hide">Hide Direction</button>
</div>
<div id="gmap-route" style="width: 600px; height: 400px"></div>
<p>
  <strong>Price:</strong>
  <%= @driver.price %>
</p>

<p>
  <strong>Depart time:</strong>
  <%= @driver.depart_time %>
</p>

<p>
  <strong>Estimated arrival time</strong>
  <%= @driver.estimated_arrival_time %>
</p>

<p>
  <strong>Car type:</strong>
  <%= @driver.car_type %>
</p>


<p>
  <strong>Passenger left/Passenger num:</strong>
  <%= @driver.left %>/<%= @driver.passenger_num %>
</p>

<p>
  <strong>Contact info:</strong>
  <%= @driver.contact_info %>
</p>

<p>
  <strong>Description:</strong>
  <%= @driver.description %>
</p>


<p>
	<strong>Has been booked by the following users: </strong>
	<%  @rides.each do |ride|%>
	<ul>
		<li><%= ride.user.name%>: <%= ride.quantity %></li> 
	</ul>
	<% end %>

</p>
<h2>Comments</h2>
<% @driver.drivercomments.each do |drivercomment| %>
  <p>
    <strong>Commenter:</strong>
    <%= drivercomment.commenter %>
  </p>
 
  <p>
    <strong>Comment:</strong>
    <%= drivercomment.body %>
  </p>
<% end %>

<div>
<h2>Add a comment:</h2>
<%= form_for([@driver, @driver.drivercomments.build]) do |f| %>
  <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
</div>
</body>
</html>
