<!DOCTYPE html>
<html>
<head>
<!-- START_HIGHLIGHT -->
  <title><%= full_title(yield(:title)) %> | GoDa</title>
<!-- END_HIGHLIGHT -->
  <!-- <label id="code.slt"/> --><%= stylesheet_link_tag    "application", media: "all",
    "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %><!-- <label id="code.jlt"/> -->
  <%= csrf_meta_tags %><!-- <label id="code.csrf"/> -->
</head>
<!-- END:head -->
<body class="<%= controller.controller_name %>">

<%= render 'shared/navbar' %>
<!-- START_HIGHLIGHT -->
  <div id="banner">
    <%= link_to  "Welcome To GoDa", root_url %><!-- <label id="code.depot.e.title"/> -->
  </div>

    <div class="navbar-right">
<!-- END_HIGHLIGHT -->
      <% if logged_in? %>
        Logged in as <strong><%= link_to current_user.name, current_user %></strong>.
        <%= link_to "Logout", logout_path, method: :delete, class: "btn btn-lg btn-primary"  %>
      <% else %>
        <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary"  %> |
        <%= link_to "Login", login_path, class: "btn btn-lg btn-primary"  %>
      <% end %>
<!-- START_HIGHLIGHT -->
    </div>

  <%= yield %>
  </div>
<!-- END_HIGHLIGHT -->
</body>
